body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
}

.login-container{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container button{
    width: auto;
    padding-left: 10px;
    font-size: 1rem;
    border-radius: 4px;
    background-color: #ffffff;
    cursor: pointer;

}